<ion-view title="Login" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list7">
        <label class="item item-input" id="login-input2">
          <span class="input-label">Username</span>
          <input ng-model="data.username" type="text" placeholder="" />
        </label>
        <label class="item item-input" id="login-input3">
          <span class="input-label">Password</span>
          <input ng-model="data.password" type="password" placeholder="" />
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button16" class="button button-stable button-block" ng-click="login()">Log in</button>
    </form>
  </ion-content>
</ion-view>
