<ion-view title="Details" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="details-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <h1 id="details-heading2" style="color:#000000;">EventName</h1>
      <div id="details-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Organizer:</p>
      </div>
      <div id="details-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date:</p>
      </div>
      <div id="details-markdown13" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Time:</p>
      </div>
      <div id="details-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Venue:</p>
      </div>
      <div id="details-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Quota</p>
      </div>
      <div id="details-markdown16" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Description:</p>
      </div>
      <div id="details-button-bar2" class="button-bar">
        <button id="details-button13" class="button button-positive button-block button-outline">Register</button>
        <a ui-sref="tabsController.location()" id="details-button14" class="button button-positive button-block button-outline">Address</a>
      </div>
    </div>
  </ion-content>
</ion-view>