<ion-view title="Details" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="details-card22">
      <div style="margin: 0px;  background-color: rgb(232, 235, 239); text-align: center;">
        <img ng-src="{{item.imageUrl}}" style="width:100%" />
        <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
      </div>
      <h4 id="details-heading2" style="color:#000000;">EventName: {{item.eventName}}</h4>
      <div id="details-markdown11" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Organizer: {{item.organizer}}</p>
      </div>
      <div id="details-markdown12" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date: {{item.eventDate}}</p>
      </div>
      <div id="details-markdown13" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Time: {{item.startTime}} - {{item.endTime}}</p>
      </div>
      <div id="details-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Venue: {{item.venue}}</p>
      </div>
      <div id="details-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Quota: {{item.quota}}</p>
      </div>
      <div id="details-markdown16" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Description: {{item.fullDescription}}</p>
      </div>
      <div id="details-button-bar2" class="button-bar">
        <button id="details-button13" class="button button-positive button-block button-outline">Register</button>
        <a ui-sref="tabsController.location({venueId:item.venue})" id="details-button14" class="button button-positive button-block button-outline">Address</a>
      </div>
    </div>
  </ion-content>
</ion-view>
