<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="tabsController.details()" id="home-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <h1 id="home-heading1" style="color:#000000;">EventName</h1>
      <div id="home-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Venue:</p>
      </div>
      <div id="home-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date:</p>
      </div>
    </a>
  </ion-content>
</ion-view>