<ion-view title="Organizer" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="organizer-list1">
      <ion-item class="item-icon-right" id="organizer-list-item8" ui-sref="tabsController.eventsByOrganizer()">Organizer Name
        <i class="icon ion-chevron-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="organizer-list-item41" ui-sref="tabsController.eventsByOrganizer()">Organizer Name
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>